/* @@@@@@( Main Content )@@@@@@ */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(white);
    transition: 0.5s;
  }
  
  .main.active {
    width: calc(100% - 80px);
    left: 80px;
  }
  
  /* @@@@@@( Main Content Cards )@@@@@@ */
  .card-box {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  
  .card-box .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
  }
  
  .card-box .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--blue);
  }
  
  .card-box .card .card-name {
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
  }
  
  .card-box .card .icon-box {
    font-size: 3.5rem;
    color: var(--black2);
  }
  
  .card-box .card:hover {
    background: var(--blue);
  }
  
  .card-box .card:hover .numbers,
  .card-box .card:hover .card-name,
  .card-box .card:hover .icon-box {
    color: var(--white);
  }
  
  /* @@@@@@( Orders Detail List )@@@@@@ */
  .chart-bx {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
  }
  
  .chart-bx .chart {
    position: relative;
    background: var(--white);
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
    border-radius: 20px;
    border: 1px solid var(--black2);
  }
  
  /* @@@@@@( Orders Detail List )@@@@@@ */
  .details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
  }
  
  .details .recent-orders {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
    border-radius: 20px;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0;
  }
  
  .card-header h2 {
    font-weight: 600;
    color: var(--blue);
  }
  
  .details .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
  }
  
  .details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .details table thead td {
    font-weight: 600;
  }
  
  .details .recent-orders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgb(0 0 0 / 10%);
  }
  
  .details .recent-orders table tr:last-child {
    border-bottom: none;
  }
  
  .details .recent-orders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
  }
  
  .recent-customers table tr td {
    padding: 12px 10px;
  }
  
  .details .recent-orders table tr td {
    padding: 10px;
  }
  
  .details .recent-orders table tr td:last-child {
    text-align: end;
  }
  
  .details .recent-orders table tr td:nth-child(2) {
    text-align: end;
  }
  
  .details .recent-orders table tr td:nth-child(3) {
    text-align: center;
  }
  
  .status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .status.pending {
    padding: 2px 4px;
    background: #e9b10a;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .status.return {
    padding: 2px 4px;
    background: #f00;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .status.in-progress {
    padding: 2px 4px;
    background: #1775ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  
  /* @@@@@@( Recent Customers )@@@@@@ */
  .recent-customers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
    border-radius: 20px;
  }
  
  .recent-customers .img-bx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
  }
  
  .recent-customers .img-bx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .recent-customers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2rem;
  }
  
  .recent-customers table tr td span {
    font-size: 14px;
    color: var(--black2);
  }
  
  .recent-customers table tr:hover td span {
    color: var(--white);
  }
  
  /* @@@@@@@@@@@@@@@@@@@@@@@@@( Responsive Design )@@@@@@@@@@@@@@@@@@@@@@@@@ */
  @media (width <= 991px) {
    .chart-bx {
      grid-template-columns: 1fr;
      height: auto;
    }
  
    .navigation {
      left: -300px;
    }
  
    .navigation.active {
      width: 300px;
      left: 0;
    }
  
    .main {
      width: 100%;
      left: 0;
    }
  
    .main.active {
      left: 300px;
    }
  
    .card-box {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (width <= 768px) {
    .details {
      grid-template-columns: 1fr;
    }
  
    .recent-orders {
      overflow-x: auto;
    }
  
    .status.in-progress {
      white-space: nowrap;
    }
  }
  
  @media (width <= 480px) {
    .card-box {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .card-header h2 {
      font-size: 20px;
    }
  
    .user {
      min-width: 40px;
    }
  
    .navigation {
      width: 100%;
      left: -100%;
      z-index: 1000;
    }
  
    .navigation.active {
      width: 100%;
      left: 0;
    }
  
    .toggle {
      z-index: 10001;
    }
  
    .main.active .toggle {
      color: var(--white);
      position: fixed;
      right: 0;
      left: initial;
    }
  }